stages:
  - build
  - deploy

variables:
  IMAGE_NAME: registry.snapp.com/snapp-project/snapp-task-local

build:
  stage: build
  image: docker:20.10.16
  services:
    - docker:dind
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u "$CI_REGISTRY_USER" --password-stdin
  script:
    - docker build --build-arg APP_VERSION=$CI_COMMIT_TAG -t $IMAGE_NAME:$CI_COMMIT_TAG .
    - docker push $IMAGE_NAME:$CI_COMMIT_TAG
  only:
    - tags

deploy:
  stage: deploy
  image: bitnami/kubectl:1.29
  script:
    - kubectl set image deployment/snapp-webapp snapp-webapp=$IMAGE_NAME:$CI_COMMIT_TAG -n snapp-project
    - kubectl rollout status deployment/snapp-webapp -n snapp-project