stages:
  - build
  - deploy

variables:
  IMAGE_NAME: registry.snapp.com/snapp-project/snapp-task-local
  DOCKER_HOST: tcp://localhost:2375
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2

build:
  stage: build
  image: docker:20.10.16
  services:
    - name: docker:dind
      alias: docker
      command: ["--insecure-registry=registry.snapp.com"]
  before_script:
    - until docker info; do sleep 1; done
    - echo "$CI_REGISTRY_PASSWORD" | docker login http://registry.snapp.com -u "$CI_REGISTRY_USER" --password-stdin
  script:
    - docker build --build-arg APP_VERSION=$CI_COMMIT_TAG -t $IMAGE_NAME:$CI_COMMIT_TAG .
    - docker push $IMAGE_NAME:$CI_COMMIT_TAG
  only:
    - tags
    - main

deploy:
  stage: deploy
  image: alpine:3.18
  before_script:
    - apk add --no-cache curl
    - curl -LO "https://dl.k8s.io/release/v1.29.0/bin/linux/amd64/kubectl"
    - chmod +x kubectl
    - mv kubectl /usr/local/bin/
  script:
    - kubectl config set-cluster local --server=https://20.20.20.162:6443 --insecure-skip-tls-verify=true
    - kubectl config set-credentials gitlab-runner --token="$KUBE_TOKEN"
    - kubectl config set-context default --cluster=local --user=gitlab-runner --namespace=snapp-project
    - kubectl config use-context default
    - kubectl set image deployment/snapp-webapp snapp-webapp=$IMAGE_NAME:$CI_COMMIT_TAG -n snapp-project
    - kubectl rollout status deployment/snapp-webapp -n snapp-project
  only:
    - tags
    - main