workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
    - if: $CI_PIPELINE_SOURCE == "web"

stages:
  - build
  - deploy

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""

build:
  stage: build
  image: docker:24.0.5
  services:
    - name: docker:24.0.5-dind
      alias: docker
      command: ["--insecure-registry=registry.snapp.com"]
  before_script:
    - until docker info; do sleep 1; done
    - echo "$DEPLOY_TOKEN_PASSWORD" | docker login registry.snapp.com -u $DEPLOY_TOKEN_USER --password-stdin
  script:
    - docker build -t registry.snapp.com/snapp-devops/snapp-task-local:$CI_COMMIT_SHORT_SHA .
    - docker push registry.snapp.com/snapp-devops/snapp-task-local:$CI_COMMIT_SHORT_SHA

deploy:
  stage: deploy
  image: alpine:3.18
  before_script:
    - apk add --no-cache curl
    - curl -LO "https://dl.k8s.io/release/v1.29.0/bin/linux/amd64/kubectl"
    - chmod +x kubectl
    - mv kubectl /usr/local/bin/
  script:
    - kubectl config set-cluster local --server=https://20.20.20.162:6443 --insecure-skip-tls-verify=true
    - kubectl config set-credentials gitlab-runner --token=$KUBE_TOKEN
    - kubectl config set-context default --cluster=local --user=gitlab-runner --namespace=snapp-project
    - kubectl config use-context default
    - kubectl set image deployment/snapp-webapp snapp-webapp=registry.snapp.com/snapp-devops/snapp-task-local:$CI_COMMIT_SHORT_SHA -n snapp-project