workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
    - if: $CI_PIPELINE_SOURCE == "web"

stages:
  - build
  - update-manifest

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""
  IMAGE_NAME: registry.snapp.com/snapp-devops/snapp-task-local

build:
  stage: build
  image: docker:24.0.5
  services:
    - name: docker:24.0.5-dind
      alias: docker
      command: ["--insecure-registry=registry.snapp.com"]
  before_script:
    - until docker info; do sleep 1; done
    - echo "$CI_JOB_TOKEN" | docker login registry.snapp.com -u gitlab-ci-token --password-stdin
  script:
    - docker build -t $IMAGE_NAME:$CI_COMMIT_SHORT_SHA .
    - docker push $IMAGE_NAME:$CI_COMMIT_SHORT_SHA
    - docker tag $IMAGE_NAME:$CI_COMMIT_SHORT_SHA $IMAGE_NAME:latest
    - docker push $IMAGE_NAME:latest
  only:
    - main

update-manifest:
  stage: update-manifest
  image: alpine:3.18
  before_script:
    - apk add --no-cache git
    - git config --global user.email "gitlab-ci@snapp.com"
    - git config --global user.name "GitLab CI"
    - git config --global http.sslVerify false
  script:
    - git clone http://gitlab.snapp.com/snapp-devops/snapp-task-local.git git-repo
    - cd git-repo
    - git remote set-url origin https://gitops-token:$DEPLOY_TOKEN@gitlab.snapp.com/snapp-devops/snapp-task-local.git
    - 'NEW_IMAGE="$IMAGE_NAME:$CI_COMMIT_SHORT_SHA"'
    - 'sed -i "s|image:.*|image: $NEW_IMAGE|" k8s-manifests/deployment.yaml'
    - git add k8s-manifests/deployment.yaml
    - 'git commit -m "Update image [skip ci]" || true'
    - git push origin main
  only:
    - main